/*
*
* ==================================================
* UNNECESSARY STYLE - JUST TO MAKE IT LOOKS NICE
* ==================================================
*
*/
.countdown {
    /* text-transform: uppercase; */
    font-weight: bold;
}

.countdown span {
    font-size: 4rem;
    margin-left: 0.8rem;
}

.countdown span:first-of-type {
    margin-left: 0;
}

.bg-gradient-3 {
    background: #f7ca44;
    /* background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b); */
    /* background: linear-gradient(to right, #ff416c, #ff4b2b); */
}

.rounded {
    border-radius: 1rem !important;
}

.countdown-font {
    color: #000;
}